@model IEnumerable<Common.DTO.PostalOffice>

@{
    ViewData["Title"] = "Index";
}

<h1>List Of PostalOffices</h1>
<>
<a asp-action="Create"> Create New</a>
</>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PostalOfficeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalOfficeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PostalOfficeId })
                    @Html.ActionLink("Details", "Details", new { id = item.PostalOfficeId })
                    @Html.ActionLink("Delete", "Delete", new { id = item.PostalOfficeId })
                </td>
            </tr>
        }
    </tbody>
</table>
