@using Common.DTO;
@model Package

@{
    ViewData["Title"] = "Details";
}
<h1>Details</h1>

<div>
    <h4>Package</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.IdPackage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdPackage)
        </dd>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.BarcodePackage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarcodePackage)
        </dd>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.SentAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SentAddress)
        </dd>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.DestinationAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DestinationAddress)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>

