@model DAL.Entities.GeneratePackage
@{
    ViewData["Title"] = "Details";
}
@if (User.IsInRole("Recepsionist"))
{
    <div class="container mt-4">
        <h1>Package Details</h1>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Request Package Information</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SenderInformation)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SenderInformation)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CreatedDate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SentAddress)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SentAddress)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SentZipCode)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SentZipCode)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DestinationAddress)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DestinationAddress)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DestinationZipCode)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DestinationZipCode)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Weight)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Weight)
                    </dd>
                </dl>
                <div class="mt-3">
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
}